@font-face {
    font-family: "Nunito";
    src: url(nunito.ttf) format("truetype");
}

body {
    background-color: #f6f5ee;
    margin: 40px;
    font-family: "Nunito", Helvetica, Arial, Verdana, Tahoma, sans-serif;
    padding-bottom: 120px;
}

table,
th,
td {
    border: 1px solid #5d5d5d;
    border-collapse: collapse;
}

tr {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

th,
td {
    padding: 4px;
}

.space {
    height: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-child {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#container {
    max-width: 1000px;
    margin: auto;
}

.chart-container {
    height: 260px;
}

.border {
    border-style: dashed;
    border-color: #00b
}

.pw16 {
    padding-left: 8px;
    padding-right: 8px;
}

.pr16 {
    padding-right: 16px;
}

.pl16 {
    padding-left: 16px;
}

h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mt16 {
    margin-top: 16px;
}

.tag-style-1 {
    background: #D1C4E9;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.tag-style-2 {
    background: #D7CCC8;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.tag-style-3 {
    background: #C8E6C9;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.tag-style-4 {
    background: #e6c8c8;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.gray-text {
    color: #808080;
}

hr {
    margin-top: 28px;
    margin-bottom: 28px;
    border-style: dashed;
    border-color: #A0A0A0;
}

.logo-dimensions {
    width: 120px;
    margin-top: 16px;
}

.color-orange {
    color: #cf5c36;
}

.color-green {
    color: #189b2c;
}
